<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Restorable fruits list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding" *ngFor="let fruit of fruits; let i = index">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img src="assets/images/fruits/{{ fruit.image }}"/>
        </ion-col>
        <ion-col>
          <h1>{{ fruit.name }}</h1>
          <p>{{ fruit.description }}</p>
          <a *ngIf="fruit.link" [href]="fruit.link" target="_blank">More info</a>
        </ion-col>
        <ion-col size="2">
          <ion-button color="danger" (click)="deleteFruit(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light-contrast">
    <ion-button color="primary" class="restore-button" (click)="restoreFruit()">RESTORE</ion-button>
  </ion-toolbar>
</ion-footer>
