<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SandBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Expandable content</h1>
  <app-expandable-content title="Title1" content="Content1" (newItemEvent)="addItem($event)"></app-expandable-content>
  <app-expandable-content title="Title2" content="Content2" (newItemEvent)="addItem($event)"></app-expandable-content>
  <app-expandable-content title="Title3" content="Content3" (newItemEvent)="addItem($event)"></app-expandable-content>
  <app-expandable-content title="Title4" content="Content4" (newItemEvent)="addItem($event)"></app-expandable-content>

  <p>Number of expanded: {{numberOpenedAccordeons}}</p>
</ion-content>


