<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SandBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Fruit list</h1>
  <div *ngFor="let fruit of fruits; let i = index">
  <app-expandable-content title="{{fruit.name}}" content="{{fruit.description}}" (newItemEvent)="addItem($event)"></app-expandable-content>
</div>
  <p>Number of expanded: {{numberOpenedAccordeons}}</p>
</ion-content>


