<div>
  <ion-button (click)="handleLike()" class="likeButton" color="success">{{likeValue}} 👍🏻</
  ion-button>
  <ion-button (click)="handleDislike()" class="dislikeButton" color="danger">{{dislikeValue}}
👎🏻</ion-button>
  <p>{{medium}}/10</p>
</div>
