<ion-header >
  <ion-toolbar class="header" color="primary">
    <ion-title class="sandboxTitle">
      Sandbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <h1>Rating</h1>
      <ion-button (click)="handleLike()" class="likeButton" color="success">{{likeValue}} 👍🏻</ion-button>
      <ion-button (click)="handleDislike()" class="dislikeButton" color="danger">{{dislikeValue}} 👎🏻</ion-button>
      <p>{{medium}}/10</p>
  </div>

  <div>
    <h1>Expandable content</h1>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="handleMoreOrLess()"  color="primary">{{moreOrLess}} </ion-button>
          </ion-col>
          <ion-col>
           <h2>Title</h2>
          </ion-col>
          <div *ngIf="showText">
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </h3>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div>
    <h1>User form</h1>
    <form>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" name=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthdate</ion-label>
        <ion-input type="date" name="birthdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sex</ion-label>
        <ion-select>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="binario">Binario</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="number" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-textarea name="email"></ion-textarea>
      </ion-item>
    </form>
</div>
</ion-content>
