<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">SandBox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Ratings</h1>
    <app-rating-component></app-rating-component>
    <app-rating-component likeValue=1 ></app-rating-component>
    <app-rating-component dislikeValue=2></app-rating-component>
    <app-rating-component likeValue=3 dislikeValue=1></app-rating-component>
</ion-content>

