<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="handleMoreOrLess()" color="primary">{{moreOrLess}} </ion-button>
      </ion-col>
      <ion-col>
       <h2>{{title}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <div *ngIf="showText">
        <br>
        <h3>{{content}}
        </h3>
      </div>
    </ion-row>
  </ion-grid>
</ion-card>

